@import 'variables.scss';

body, html, #root, .full-height {
  margin: 0;
  padding: 0;
  height: 100% !important;
  width: 100% !important;
  font-family: sans-serif;
  background-color: #f5f5f5 !important;
}